.topBar
  display: flex

.add_button
  display: inline-block
  margin-left: auto
  width: 40px
  height: 40px
  mask-image: url(/add.png)
  background-color: grey
  mask-size: contain
  border: none

  &:hover
    background-color: red
