.nav
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  margin-bottom: 20px
    
  > button
    margin-right: -1px
    &:not(.btn_active):hover
      background-color: lighten(black, 50%)
      color: #fff

.btn_active
  border-color: red
  background-color: red
  z-index: 1
  color: #fff